openapi: 3.0.3
info:
  title: Cultivate API
  description: Cannabis cultivation tracking and compliance API — MN licensed operator
  version: 1.0.0
servers:
  - url: https://cultivate.hatstak.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Development
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
    ValidationError:
      type: object
      properties:
        error: { type: string }
        issues: { type: array, items: { type: object } }
    User:
      type: object
      description: Active cultivation staff member (applicator / observer)
      properties:
        id: { type: integer }
        name: { type: string }
        role:
          type: string
          enum: [grower, supervisor, admin]
    LoginResponse:
      type: object
      required: [token, worker]
      properties:
        token:
          type: string
          description: JWT bearer token; include as Authorization header on subsequent requests
        worker:
          type: object
          properties:
            id: { type: integer }
            name: { type: string }
            role:
              type: string
              enum: [grower, supervisor, admin]
    Batch:
      type: object
      description: >
        Plant batch enriched with strain, location, active recipe, and computed fields.
        `plant_count_current` is derived from active plant_assignments (not stored).
        `metrc_batch_name` and `metrc_phase` are computed at read time from strain/sow_date/status.
      properties:
        batch_id: { type: integer }
        strain_id: { type: integer }
        strain_name: { type: string }
        strain_type:
          type: string
          enum: [auto, photo]
        sub_zone_id:
          type: string
          nullable: true
          example: Z1A
          description: Physical sub-zone (Z1A–Z4B). Required before field-veg transition.
        plant_count_initial: { type: integer }
        plant_count_current:
          type: integer
          description: Derived from count of active plant_assignments; not editable
        plants_per_container:
          type: integer
          default: 1
          description: Intended planting density; 2 is common for autoflowers
        sow_date:
          type: string
          format: date
        status:
          type: string
          enum: [germ, seedling, cult-hoop, field-veg, field-flower, flush, harvest_window, harvesting, closed]
        current_stage_since:
          type: string
          format: date-time
          description: Timestamp when current status was entered
        current_location_id: { type: integer, nullable: true }
        current_location_name: { type: string, nullable: true }
        current_location_type: { type: string, nullable: true }
        metrc_plant_batch_uid:
          type: string
          nullable: true
          description: 24-char METRC plant batch name. Optional at creation; required before harvest.
        active_recipe_id: { type: integer, nullable: true }
        active_recipe_name: { type: string, nullable: true }
        active_recipe_version: { type: string, nullable: true }
        active_recipe_ec_low: { type: number, nullable: true }
        active_recipe_ec_high: { type: number, nullable: true }
        active_recipe_ph_low: { type: number, nullable: true }
        active_recipe_ph_high: { type: number, nullable: true }
        active_assignment_count: { type: integer }
        days_in_stage:
          type: integer
          description: Calendar days since current_stage_since (America/Chicago)
        metrc_batch_name:
          type: string
          nullable: true
          description: Computed METRC plant batch name (Strain | MM/DD/YYYY | Auto|Photo)
        metrc_phase:
          type: string
          nullable: true
          description: Computed METRC growth phase string (e.g. "Vegetative", "Flowering")
        transplant_date: { type: string, format: date-time, nullable: true }
        field_move_date: { type: string, format: date-time, nullable: true }
        harvest_date: { type: string, format: date-time, nullable: true }
        closed_date: { type: string, format: date-time, nullable: true }
        notes: { type: string, nullable: true }
        supervisor:
          type: integer
          description: FK → cv_users; user who created/supervises this batch
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    BatchDetail:
      allOf:
        - $ref: '#/components/schemas/Batch'
        - type: object
          description: Batch with full audit history. Returned by POST, GET /:id, and PATCH /:id/transition.
          properties:
            recipe_history:
              type: array
              description: All fertigation recipe assignments, newest first
              items:
                type: object
                properties:
                  id: { type: integer }
                  batch_id: { type: integer }
                  recipe_id: { type: integer }
                  recipe_name: { type: string }
                  recipe_version: { type: string }
                  effective_from: { type: string, format: date-time }
                  effective_to: { type: string, format: date-time, nullable: true }
                  authorized_by: { type: integer }
                  authorized_by_name: { type: string, nullable: true }
                  notes: { type: string, nullable: true }
            phase_history:
              type: array
              description: Batch lifecycle transitions, oldest first
              items:
                type: object
                properties:
                  id: { type: integer }
                  batch_id: { type: integer }
                  from_status: { type: string, nullable: true }
                  to_status: { type: string }
                  transitioned_at: { type: string, format: date-time }
                  transitioned_by: { type: integer }
                  transitioned_by_name: { type: string, nullable: true }
                  notes: { type: string, nullable: true }
                  metrc_sync_status: { type: string }
            location_history:
              type: array
              description: Physical location moves, oldest first
              items:
                type: object
                properties:
                  id: { type: integer }
                  batch_id: { type: integer }
                  from_location_id: { type: integer, nullable: true }
                  from_location_name: { type: string, nullable: true }
                  to_location_id: { type: integer }
                  to_location_name: { type: string, nullable: true }
                  moved_at: { type: string, format: date-time }
                  moved_by: { type: integer }
                  moved_by_name: { type: string, nullable: true }
                  trigger: { type: string }
                  metrc_sync_status: { type: string }
            application_counts:
              type: object
              description: Count of logged applications per type
              properties:
                fertigation: { type: integer }
                foliar: { type: integer }
                pesticide: { type: integer }
    RecipeAssignment:
      type: object
      description: Active fertigation recipe assignment for a batch (cv_batch_stage_recipes row)
      properties:
        id: { type: integer }
        batch_id: { type: integer }
        recipe_id: { type: integer }
        recipe_name: { type: string }
        recipe_version: { type: string }
        effective_from: { type: string, format: date-time }
        effective_to: { type: string, format: date-time, nullable: true }
        authorized_by: { type: integer }
        authorized_by_name: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
    Strain:
      type: object
      properties:
        strain_id: { type: integer }
        name: { type: string }
        type:
          type: string
          enum: [auto, photo]
        genetics: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        active:
          type: integer
          enum: [0, 1]
          description: Soft-delete flag; list endpoints only return active=1 strains
        batch_count:
          type: integer
          description: Count of non-closed batches referencing this strain
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ContainerStateSummary:
      type: object
      description: Per-sub-zone container state counts (GET /containers/summary)
      properties:
        sub_zone_id: { type: string, example: Z1A }
        zone_id: { type: integer }
        designation: { type: string, enum: [A, B] }
        pot_size_gal: { type: integer }
        container_count: { type: integer }
        counts:
          type: object
          properties:
            ready: { type: integer }
            active: { type: integer }
            empty: { type: integer }
            teardown: { type: integer }
            startup: { type: integer }
            out_of_service: { type: integer }

    ContainerListItem:
      type: object
      description: Container row from GET /containers?sub_zone_id= — joined with state, batch, and active tag
      properties:
        container_id: { type: string, example: "Z1-A-R3-C12" }
        position: { type: integer }
        container_notes: { type: string, nullable: true }
        row_id: { type: string, example: Z1-A-R3 }
        row_number: { type: integer }
        current_state:
          type: string
          enum: [ready, active, empty, teardown, startup, out_of_service]
        state_since: { type: string, format: date-time }
        current_batch_id: { type: integer, nullable: true }
        state_notes: { type: string, nullable: true }
        batch_status: { type: string, nullable: true }
        strain_name: { type: string, nullable: true }
        strain_type: { type: string, nullable: true, enum: [auto, photo] }
        metrc_plant_tag: { type: string, nullable: true }

    ContainerDetail:
      type: object
      description: Full container record from GET /containers/{id}
      properties:
        container:
          type: object
          properties:
            container_id: { type: string }
            position: { type: integer }
            container_notes: { type: string, nullable: true }
            row_id: { type: string }
            row_number: { type: integer }
            sub_zone_id: { type: string }
            zone_id: { type: integer }
            pot_size_gal: { type: integer }
        current_state:
          type: object
          nullable: true
          properties:
            current_state: { type: string }
            state_since: { type: string, format: date-time }
            current_batch_id: { type: integer, nullable: true }
            notes: { type: string, nullable: true }
        current_batch:
          type: object
          nullable: true
          description: Minimal batch context (batch_id, status, strain_name, active_recipe_name)
        current_tag:
          type: object
          nullable: true
          description: Active cv_plant_assignments row (metrc_plant_tag, placed_at, etc.)
        state_history:
          type: array
          items: { type: object }
          description: State transitions newest first
        amendments:
          type: array
          items: { type: object }
          description: Container amendments with item_name resolved from farmstock, newest first
        teardown_events:
          type: array
          items: { type: object }
        startup_events:
          type: array
          items: { type: object }
        past_batches:
          type: array
          items: { type: object }
          description: Distinct batches that have occupied this container (from state_transitions)

    FertigationApplication:
      type: object
      description: >
        Fertigation application record enriched with recipe and strain info.
        `editable` is true for 24 hours after applied_at; after that the record is locked.
      properties:
        application_id: { type: integer }
        batch_id: { type: integer }
        recipe_id: { type: integer }
        applied_at: { type: string, format: date-time }
        volume_gallons: { type: number }
        ec_measured: { type: number, description: "Required (Rule 11). Use 0 as placeholder if meter fails — document in notes." }
        ph_measured: { type: number }
        solution_temp_f: { type: number, nullable: true }
        ambient_temp_f: { type: number, nullable: true }
        ambient_rh: { type: number, nullable: true }
        applicator: { type: integer }
        notes: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        batch_strain_name: { type: string, description: Joined from cv_strains }
        batch_sub_zone_id: { type: string, nullable: true }
        recipe_name: { type: string }
        recipe_version: { type: string }
        applicator_name: { type: string, nullable: true }
        editable: { type: boolean, description: True within 24 hours of applied_at }

    FoliarApplication:
      type: object
      description: >
        Non-pesticide foliar spray record. stage_compliant=false is a hard block (never
        persisted); phi_compliant=0 is a warning (persisted with a warning field in the
        POST response).
      properties:
        foliar_id: { type: integer }
        batch_id: { type: integer }
        row_id: { type: string, nullable: true }
        container_id: { type: string, nullable: true }
        applied_at: { type: string, format: date-time }
        foliar_recipe_id: { type: integer, nullable: true }
        input_id: { type: integer, nullable: true }
        input_lot_id: { type: integer, nullable: true }
        rate_value: { type: number, nullable: true }
        rate_unit: { type: string, nullable: true }
        volume_applied: { type: number, nullable: true }
        volume_unit: { type: string, nullable: true }
        purpose: { type: string, description: Required (Rule 12) }
        ambient_temp_f: { type: number, nullable: true }
        ambient_rh: { type: number, nullable: true }
        phi_compliant:
          type: integer
          nullable: true
          enum: [0, 1]
          description: 1=compliant, 0=PHI violation flagged (saved with warning), null=not computed
        stage_compliant:
          type: integer
          nullable: true
          enum: [0, 1]
          description: 1=stage OK, null=stage unknown. Value 0 is never stored (hard block at creation returns 422)
        applicator: { type: integer }
        notes: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        batch_strain_name: { type: string }
        batch_sub_zone_id: { type: string, nullable: true }
        recipe_name: { type: string, nullable: true }
        recipe_version: { type: string, nullable: true }
        applicator_name: { type: string, nullable: true }
        editable: { type: boolean }

    PesticideApplication:
      type: object
      description: >
        Full MN MDA-compliant pesticide application record. `rei_active` is computed at
        read time: true when rei_expires_at is set, not cleared, and in the future.
      properties:
        pesticide_app_id: { type: integer }
        batch_id: { type: integer }
        row_id: { type: string, nullable: true }
        container_id: { type: string, nullable: true }
        applied_at: { type: string, format: date-time }
        input_id: { type: integer }
        input_lot_id: { type: integer }
        rate_value: { type: number }
        rate_unit: { type: string }
        volume_applied: { type: number }
        volume_unit: { type: string }
        application_method: { type: string, enum: [foliar_spray, soil_drench, granular, other] }
        target_pest: { type: string }
        pest_pressure: { type: string, nullable: true, enum: [incidental, threshold, outbreak] }
        ambient_temp_f: { type: number }
        ambient_rh: { type: number, nullable: true }
        wind_speed_mph: { type: number }
        wind_direction: { type: string, nullable: true }
        phi_compliant: { type: integer, nullable: true, enum: [0, 1] }
        expected_harvest_date: { type: string, format: date, nullable: true }
        rei_expires_at: { type: string, format: date-time, nullable: true }
        rei_cleared_at: { type: string, format: date-time, nullable: true }
        rei_cleared_by: { type: integer, nullable: true }
        applicator_license: { type: string, nullable: true }
        applicator: { type: integer }
        notes: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        batch_strain_name: { type: string }
        batch_sub_zone_id: { type: string, nullable: true }
        applicator_name: { type: string, nullable: true }
        editable: { type: boolean }
        rei_active: { type: boolean, description: Computed — true when REI is set and not cleared }

    ContainerAmendment:
      type: object
      description: >
        Container media amendment record. `batch_id` and `container_state` are
        auto-populated from cv_container_state at submission time and cannot be set
        by the caller.
      properties:
        amendment_id: { type: integer }
        container_id: { type: string, example: "Z1-A-R3-C12" }
        batch_id: { type: integer, nullable: true, description: Auto-populated from container state at submission }
        container_state:
          type: string
          enum: [ready, active, empty, teardown, startup, out_of_service]
          description: State of the container when the amendment was applied
        applied_at: { type: string, format: date-time }
        amendment_type:
          type: string
          enum: [media_replacement, amendment, inoculation, drench, top_dress, mix_in, correction, removal, other]
        application_method:
          type: string
          nullable: true
          enum: [top_dress, mix_in, drench, side_dress, replaced, removed, other]
        input_id: { type: integer, nullable: true }
        input_lot_id: { type: integer, nullable: true }
        quantity: { type: number, nullable: true }
        quantity_unit: { type: string, nullable: true, example: lb }
        purpose: { type: string, nullable: true }
        soil_sample_id: { type: integer, nullable: true, description: Links amendment to the soil sample that drove the decision }
        applicator: { type: integer }
        notes: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        applicator_name: { type: string, nullable: true }
        batch_strain_name: { type: string, nullable: true }
        editable: { type: boolean }

    Observation:
      type: object
      description: >
        Plant observation record enriched with batch strain, observer name, and batch
        context. `editable` is true within 24 hours of observed_at.
      properties:
        observation_id: { type: integer }
        batch_id: { type: integer }
        row_id: { type: string, nullable: true, example: "Z1-A-R3" }
        container_id: { type: string, nullable: true, example: "Z1-A-R3-C12" }
        observed_at: { type: string, format: date-time }
        category:
          type: string
          enum: [healthy, pest, deficiency, disease, damage, harvest_readiness, other]
        severity:
          type: string
          nullable: true
          enum: [low, medium, high]
          description: Required for all categories except harvest_readiness
        note: { type: string, nullable: true }
        maturity_pct:
          type: integer
          nullable: true
          minimum: 0
          maximum: 100
          description: Trichome/pistil maturity estimate 0–100. harvest_readiness category only.
        ready_to_harvest:
          type: integer
          nullable: true
          enum: [0, 1]
          description: Staff judgment — is this plant ready to harvest now?
        harvest_priority:
          type: integer
          nullable: true
          description: Relative priority within row (1=highest) for harvest sequencing
        triggered_app_id: { type: string, nullable: true }
        resolved_at: { type: string, format: date-time, nullable: true }
        resolution_note: { type: string, nullable: true }
        observer: { type: integer }
        observer_name: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        batch_strain_name: { type: string }
        batch_sub_zone_id: { type: string, nullable: true }
        batch_status: { type: string }
        editable: { type: boolean }

    FertigationRecipe:
      type: object
      description: >
        Active fertigation recipe (one of 7 fixed names). List endpoint returns all
        7 slots; unfilled slots have recipe_id=null and active=null.
      properties:
        recipe_id: { type: integer, nullable: true }
        name:
          type: string
          enum: [BASE, SEEDLING, AUTO-VEG, AUTO-FLOWER, PHOTO-VEG, PHOTO-FLOWER, FLUSH]
        version: { type: string, nullable: true, example: "1.0" }
        active: { type: integer, nullable: true, enum: [0, 1] }
        ec_target_low: { type: number, nullable: true }
        ec_target_high: { type: number, nullable: true }
        ph_target_low: { type: number, nullable: true }
        ph_target_high: { type: number, nullable: true }
        mixing_order: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        approved_by: { type: integer, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        created_by: { type: integer, nullable: true }
        created_at: { type: string, format: date-time, nullable: true }
        ingredient_count: { type: integer }
        version_count: { type: integer }

    FertigationRecipeDetail:
      allOf:
        - $ref: '#/components/schemas/FertigationRecipe'
        - type: object
          description: Full recipe with ingredients enriched from farmstock and full version history.
          properties:
            ingredients:
              type: array
              items:
                type: object
                properties:
                  recipe_id: { type: integer }
                  input_id: { type: integer }
                  item_name: { type: string, nullable: true, description: Resolved from farmstock; null if unavailable }
                  rate_value: { type: number }
                  rate_unit: { type: string, example: "ml_per_gal" }
                  order_index: { type: integer }
                  notes: { type: string, nullable: true }
            version_history:
              type: array
              description: All versions of this recipe name, newest first
              items:
                type: object
                properties:
                  recipe_id: { type: integer }
                  version: { type: string }
                  active: { type: integer, enum: [0, 1] }
                  created_at: { type: string, format: date-time }
                  approved_at: { type: string, format: date-time, nullable: true }
                  superseded_at: { type: string, format: date-time, nullable: true }
                  created_by_name: { type: string, nullable: true }

    FoliarRecipe:
      type: object
      description: >
        Active foliar recipe. Unlike fertigation, there are no fixed name slots —
        only operator-defined recipes are returned.
      properties:
        foliar_recipe_id: { type: integer }
        name: { type: string }
        version: { type: string, example: "1.0" }
        active: { type: integer, enum: [0, 1] }
        purpose: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        approved_by: { type: integer, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        ingredient_count: { type: integer }
        version_count: { type: integer }

    FoliarRecipeDetail:
      allOf:
        - $ref: '#/components/schemas/FoliarRecipe'
        - type: object
          description: Full recipe with ingredients and version history.
          properties:
            ingredients:
              type: array
              items:
                type: object
                properties:
                  foliar_recipe_id: { type: integer }
                  input_id: { type: integer }
                  item_name: { type: string, nullable: true }
                  rate_value: { type: number }
                  rate_unit: { type: string }
                  order_index: { type: integer }
                  notes: { type: string, nullable: true }
            version_history:
              type: array
              items:
                type: object
                properties:
                  foliar_recipe_id: { type: integer }
                  version: { type: string }
                  active: { type: integer }
                  created_at: { type: string, format: date-time }
                  approved_at: { type: string, format: date-time, nullable: true }
                  superseded_at: { type: string, format: date-time, nullable: true }
                  created_by_name: { type: string, nullable: true }

    HarvestBatch:
      type: object
      description: >
        Time-bounded harvest event grouping. Normally one per cultivation batch;
        weather events force-close the current batch and create a new one
        (sequence_number increments). `batch_type` is `harvest` or `manicure`
        (METRC term for partial harvest — do not use "manicure" in UI).
      properties:
        harvest_batch_id: { type: integer }
        batch_id: { type: integer }
        batch_type: { type: string, enum: [harvest, manicure] }
        sequence_number: { type: integer, description: "1 normally; increments on weather-event force-close" }
        status: { type: string, enum: [in_progress, completed, force_closed] }
        started_at: { type: string, format: date-time }
        started_by: { type: integer }
        completed_at: { type: string, format: date-time, nullable: true }
        close_reason: { type: string, nullable: true, enum: [completed, weather_event, other] }
        close_notes: { type: string, nullable: true }
        ambient_temp_f: { type: number, nullable: true }
        ambient_rh: { type: number, nullable: true }
        wind_speed_mph: { type: number, nullable: true }
        metrc_name: { type: string, nullable: true, description: "Computed METRC harvest batch name" }
        closed_by: { type: integer, nullable: true }
        notes: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    HarvestEvent:
      type: object
      description: >
        Single plant harvest event. Partial harvest leaves the plant alive; final
        harvest cuts the plant and triggers unassignment + container→teardown.
        Do not use the term "manicure" in UI — use "partial harvest."
      properties:
        harvest_event_id: { type: integer }
        harvest_batch_id: { type: integer }
        batch_id: { type: integer }
        plant_assignment_id: { type: integer }
        container_id: { type: string }
        event_type: { type: string, enum: [partial_harvest, final_harvest] }
        harvested_at: { type: string, format: date-time }
        product_type: { type: string, enum: [flower, larf, popcorn, trim_product, other] }
        wet_weight: { type: number }
        weight_unit: { type: string, example: "g" }
        applicator: { type: integer }
        notes: { type: string, nullable: true }
        metrc_sync_status: { type: string, enum: [pending, synced, failed, not_required] }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }

    WasteTrimEvent:
      type: object
      description: >
        Waste-generating trim event — distinct from harvest. Available at any batch
        status. Generates waste not product. Waste lifecycle: collected → held →
        disposed → reported.
      properties:
        waste_trim_id: { type: integer }
        batch_id: { type: integer }
        container_id: { type: string, nullable: true }
        row_id: { type: string, nullable: true }
        plant_assignment_id: { type: integer, nullable: true }
        harvest_batch_id: { type: integer, nullable: true }
        trimmed_at: { type: string, format: date-time }
        trim_reason:
          type: string
          enum: [defoliation, lollipoping, ipm_removal, disease_removal, pest_damage, physical_damage, senescence, other]
        trim_reason_notes: { type: string, nullable: true }
        wet_weight: { type: number }
        weight_unit: { type: string }
        waste_status: { type: string, enum: [collected, held, disposed, reported] }
        waste_status_updated_at: { type: string, format: date-time }
        disposed_at: { type: string, format: date-time, nullable: true }
        disposition: { type: string, nullable: true, enum: [composted, incinerated, quarantined, tested, other] }
        disposed_by: { type: integer, nullable: true }
        applicator: { type: integer }
        notes: { type: string, nullable: true }
        metrc_sync_status: { type: string, enum: [pending, synced, failed, not_required] }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }

    PlantLossEvent:
      type: object
      description: >
        First-class mid-batch plant loss record. Unassigns the plant, transitions
        the container to `empty` if no active assignments remain, and queues a METRC
        waste event.
      properties:
        loss_id: { type: integer }
        batch_id: { type: integer }
        container_id: { type: string }
        plant_assignment_id: { type: integer }
        metrc_plant_tag: { type: string, description: "Denormalized METRC tag at loss time. Empty string if plant was untagged." }
        occurred_at: { type: string, format: date-time }
        discovered_at: { type: string, format: date-time }
        loss_type:
          type: string
          enum: [death_natural, death_disease, death_pest, physical_damage, removal_culled, removal_quality, accidental, other]
        loss_cause: { type: string, nullable: true }
        plant_disposition: { type: string, enum: [disposed_compost, disposed_waste, quarantined, tested, other] }
        plant_count: { type: integer, default: 1 }
        reported_by: { type: integer }
        reported_by_name: { type: string, nullable: true }
        metrc_sync_status: { type: string, enum: [pending, synced, failed, not_required] }
        notes: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        batch_status: { type: string, nullable: true }
        strain_name: { type: string, nullable: true }

    TagAssignment:
      type: object
      description: >
        Enriched plant assignment (cv_plant_assignments) — the live mapping between
        METRC plant tags and container positions. Includes container, row, sub-zone,
        container state, and batch context.
      properties:
        assignment_id: { type: integer }
        batch_id: { type: integer }
        container_id: { type: string, example: "Z1-A-R3-C12" }
        metrc_plant_tag: { type: string, nullable: true, description: "24-char METRC UID. Null until tag is assigned." }
        placed_at: { type: string, format: date-time }
        placed_by: { type: integer }
        tagged_at: { type: string, format: date-time, nullable: true }
        tagged_by: { type: integer, nullable: true }
        unassigned_at: { type: string, format: date-time, nullable: true }
        unassign_reason: { type: string, nullable: true, enum: [harvested, destroyed, died, moved, replaced, other] }
        row_id: { type: string }
        row_number: { type: integer }
        sub_zone_id: { type: string }
        container_state: { type: string, nullable: true }
        batch_status: { type: string, nullable: true }
        strain_name: { type: string, nullable: true }

    PlantingPlan:
      type: object
      description: >
        Versioned plan for placing plants into containers in a sub-zone.
        Status lifecycle: draft → active (first commit) → superseded | cancelled.
        Committed items are locked — they stay committed and are never rolled back.
      properties:
        plan_id: { type: integer }
        batch_id: { type: integer }
        sub_zone_id: { type: string, example: Z1A }
        version: { type: integer }
        status: { type: string, enum: [draft, active, superseded, cancelled] }
        supersedes_plan_id: { type: integer, nullable: true }
        plants_to_place: { type: integer }
        activated_at: { type: string, format: date-time, nullable: true }
        superseded_at: { type: string, format: date-time, nullable: true }
        notes: { type: string, nullable: true }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        batch_status: { type: string }
        strain_name: { type: string }
        strain_type: { type: string, enum: [auto, photo] }
        pot_size_gal: { type: integer }
        sub_zone_container_count: { type: integer }
        draft_count: { type: integer }
        committed_count: { type: integer }
        cancelled_count: { type: integer }

    Sensor:
      type: object
      description: SensorPush environmental sensor with current location assignment and latest reading.
      properties:
        sensor_id: { type: string, description: SensorPush device ID }
        device_name: { type: string }
        label: { type: string, nullable: true }
        model: { type: string, nullable: true }
        active: { type: integer, enum: [0, 1] }
        last_seen_at: { type: string, format: date-time, nullable: true }
        battery_pct: { type: number, nullable: true }
        current_location_id: { type: integer, nullable: true }
        current_location_name: { type: string, nullable: true }
        current_sub_zone_id: { type: string, nullable: true }
        latest_reading:
          type: object
          nullable: true
          properties:
            observed_at: { type: string, format: date-time }
            temp_f: { type: number, nullable: true }
            humidity_rh: { type: number, nullable: true }
            dew_point_f: { type: number, nullable: true }
            vpd_kpa: { type: number, nullable: true }

    SensorCurrentReading:
      type: object
      description: >
        Current environmental conditions per assigned sensor. `age_seconds` is
        elapsed time since last reading; sensor is considered offline when > 30 minutes.
      properties:
        sensor_id: { type: string }
        sensor_label: { type: string, description: "`label` if set, otherwise `device_name`" }
        location_id: { type: integer }
        location_name: { type: string }
        sub_zone_id: { type: string, nullable: true }
        observed_at: { type: string, format: date-time, nullable: true }
        age_seconds: { type: integer, nullable: true }
        temp_f: { type: number, nullable: true }
        humidity_rh: { type: number, nullable: true }
        dew_point_f: { type: number, nullable: true }
        vpd_kpa: { type: number, nullable: true }

tags:
  - name: auth
    description: Authentication — PIN login, JWT refresh, user list
  - name: batches
    description: Plant batch lifecycle management
  - name: strains
    description: Strain catalog
  - name: containers
    description: Container state management, sub-zone list, detail view, and admin bulk operations
  - name: fertigation-applications
    description: Drip fertigation application records (sub-zone level, bulk entry supported)
  - name: foliar-applications
    description: Non-pesticide foliar spray application records (Rule 12–14 enforced)
  - name: pesticide-applications
    description: EPA-registered pesticide application records with full PHI/REI/MDA compliance
  - name: container-amendments
    description: Container growing-media amendments (compost, nematodes, pH correctors, etc.)
  - name: observations
    description: Plant observation logging — pest sightings, deficiencies, harvest readiness assessments
  - name: fertigation-recipes
    description: Fertigation recipe library — 7 named slots, versioned and immutable once used in applications
  - name: foliar-recipes
    description: Foliar recipe library — operator-defined named mixes, versioned
  - name: harvest
    description: Harvest lifecycle — harvest batches, partial/final harvest events, waste trim, weather force-close
  - name: exports
    description: Compliance and regulatory exports — METRC additives, MDA pesticide report, cultivation record, compliance dashboard
  - name: plant-loss
    description: Mid-batch plant loss events and mid-batch replacement workflow
  - name: tag-assignments
    description: METRC plant tag assignment to container positions — single, bulk, and explicit reassignment
  - name: planting-plans
    description: Versioned field-placement plans — assigns plants to containers and triggers the cult-hoop → field-veg transition
  - name: sensors
    description: SensorPush environmental sensor integration — assignments, readings, current conditions

paths:
  # ─── AUTH ────────────────────────────────────────────────────────────────────

  /auth/users:
    get:
      tags: [auth]
      summary: List active users (applicator picker)
      description: >
        Returns id, name, and role for all active users. Used to populate
        applicator/observer pickers on application entry forms.

        **Security note:** This endpoint currently has no auth requirement — this is
        a known finding (docs/audit-api-security.md CRIT-01). It will be gated behind
        requireAuth in a future fix.
      security: []
      responses:
        '200':
          description: Array of active users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /auth/login:
    post:
      tags: [auth]
      summary: PIN-based login
      description: >
        Authenticates a user with their numeric PIN. Returns a signed JWT on success.
        After 5 consecutive failures the account is locked for 15 minutes; during lockout
        the endpoint returns 423 with `locked_until` in the response body.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, pin]
              properties:
                user_id:
                  type: integer
                  description: User's numeric ID (from the user list)
                pin:
                  type: string
                  minLength: 4
                  maxLength: 8
                  description: User's numeric PIN (4–8 characters)
            example:
              user_id: 3
              pin: "1234"
      responses:
        '200':
          description: Login successful — JWT token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Validation error (missing or malformed fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Incorrect PIN
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  attempts_remaining:
                    type: integer
                    description: Remaining attempts before lockout
        '404':
          description: User not found or inactive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '423':
          description: Account locked after 5 failed attempts
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  locked_until:
                    type: string
                    format: date-time
                    description: ISO-8601 UTC timestamp when lock expires

  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh JWT token
      description: >
        Issues a new JWT for the currently authenticated user. Call before the
        current token expires to maintain a session without re-entering the PIN.
      responses:
        '200':
          description: New JWT issued
          content:
            application/json:
              schema:
                type: object
                required: [token]
                properties:
                  token:
                    type: string
                    description: New signed JWT
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── BATCHES ─────────────────────────────────────────────────────────────────

  /batches:
    get:
      tags: [batches]
      summary: List plant batches
      description: >
        Returns batches enriched with strain, location, active recipe, and computed
        fields. Sorted by lifecycle stage (active stages first, by STATUS_ORDER) then
        by sow_date descending within each stage. The `status=active` default excludes
        closed batches.
      parameters:
        - name: status
          in: query
          description: >
            Filter by lifecycle status group.
            `active` (default) = all non-closed batches;
            `closed` = only closed batches;
            `all` = no filter.
          required: false
          schema:
            type: string
            enum: [active, closed, all]
            default: active
      responses:
        '200':
          description: Array of enriched batches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Batch'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [batches]
      summary: Create a new plant batch
      description: >
        Creates a batch in `germ` status. Writes the initial phase history record
        (germ, from_status=null) and location history record (Germ-01) in a single
        transaction.

        `metrc_plant_batch_uid` is optional at creation but required before harvest
        events can be recorded. Sub_zone_id is optional here but required before the
        `cult-hoop → field-veg` transition.

        Requires supervisor role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [strain_id, plant_count_initial, sow_date]
              properties:
                strain_id:
                  type: integer
                  description: Must reference an active strain (active=1)
                sub_zone_id:
                  type: string
                  nullable: true
                  example: Z1A
                  description: Optional at creation. Required before field-veg transition.
                plant_count_initial:
                  type: integer
                  minimum: 1
                plants_per_container:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Intended density; 2 is common for autoflowers
                sow_date:
                  type: string
                  format: date
                  example: "2026-03-15"
                metrc_plant_batch_uid:
                  type: string
                  minLength: 24
                  maxLength: 24
                  pattern: '^[A-Za-z0-9]+$'
                  nullable: true
                  description: 24-char alphanumeric METRC batch UID. Optional at creation.
                notes:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Batch created with initial history records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetail'
        '400':
          description: Validation error or invalid strain_id / sub_zone_id reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /batches/{id}:
    get:
      tags: [batches]
      summary: Get batch detail with full history
      description: >
        Returns the enriched batch record including recipe_history, phase_history,
        location_history, and application_counts (fertigation, foliar, pesticide).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Batch ID
      responses:
        '200':
          description: Full batch detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetail'
        '400':
          description: Invalid (non-numeric) batch ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags: [batches]
      summary: Update mutable batch fields
      description: >
        Partial update of mutable fields. At least one field must be provided.

        Business rules enforced:
        - `sub_zone_id` is locked once batch reaches `field-veg` or later
        - `plant_count_initial` cannot be changed once any plant_assignments exist

        Requires supervisor role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metrc_plant_batch_uid:
                  type: string
                  minLength: 24
                  maxLength: 24
                  pattern: '^[A-Za-z0-9]+$'
                  nullable: true
                notes:
                  type: string
                  nullable: true
                sub_zone_id:
                  type: string
                  nullable: true
                  description: Locked once batch is field-veg, field-flower, flush, harvest_window, harvesting, or closed
                plant_count_initial:
                  type: integer
                  minimum: 1
                  description: Cannot be changed once any plant_assignments exist for this batch
      responses:
        '200':
          description: Updated batch (base fields only, no history arrays)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: Validation error, no valid fields provided, or business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /batches/{id}/transition:
    patch:
      tags: [batches]
      summary: Advance batch lifecycle status
      description: >
        Advances the batch to exactly the next status in the fixed sequence:
        `germ → seedling → cult-hoop → field-veg → field-flower → flush →
        harvest_window → harvesting → closed`.

        Only the exact next status is accepted — no skipping, no reversing.

        **Side effects per transition:**
        | to_status | Extra writes | METRC event queued |
        |---|---|---|
        | `seedling` | sets transplant_date; location move → Seedlings | location move |
        | `cult-hoop` | location move → Cult-Hoop | location move |
        | `field-veg` | sets field_move_date; requires sub_zone_id on batch | phase change (Immature→Vegetative) |
        | `field-flower` | — | phase change (Vegetative→Flowering) |
        | `harvesting` | sets harvest_date; notes required | — |
        | `closed` | sets closed_date | — |

        Note: `cult-hoop → field-veg` does NOT auto-generate a location move here;
        that move is owned by the planting plan commit workflow.

        Requires supervisor role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_status]
              properties:
                to_status:
                  type: string
                  enum: [seedling, cult-hoop, field-veg, field-flower, flush, harvest_window, harvesting, closed]
                  description: Must be exactly the next status in the sequence
                notes:
                  type: string
                  nullable: true
                  description: Required when to_status is `harvesting` (must reference maturity observation evidence)
      responses:
        '200':
          description: Updated batch with full history (same shape as GET /:id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetail'
        '400':
          description: >
            Invalid transition (wrong status, skipped stage, or batch already closed),
            missing sub_zone_id for field-veg, or notes required for harvesting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /batches/{id}/recipe:
    patch:
      tags: [batches]
      summary: Assign or change active fertigation recipe
      description: >
        Closes the current active recipe assignment (sets effective_to to now) and
        creates a new one, both in a single transaction. Previous assignments are
        preserved in recipe_history for audit purposes. Requires supervisor role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipe_id]
              properties:
                recipe_id:
                  type: integer
                  description: Must reference an active fertigation recipe (active=1)
                notes:
                  type: string
                  nullable: true
      responses:
        '201':
          description: New recipe assignment created; previous assignment closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeAssignment'
        '400':
          description: Validation error or recipe_id does not exist / is not active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── STRAINS ─────────────────────────────────────────────────────────────────

  /strains:
    get:
      tags: [strains]
      summary: List active strains
      description: >
        Returns all strains where active=1, with batch_count (non-closed batches
        referencing the strain). Ordered alphabetically by name.
      responses:
        '200':
          description: Array of active strains
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Strain'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [strains]
      summary: Create a new strain
      description: Requires supervisor role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name:
                  type: string
                  description: Cultivar name (e.g. "Northern Lights Auto")
                type:
                  type: string
                  enum: [auto, photo]
                genetics:
                  type: string
                  nullable: true
                  description: Parent genetics or breeder notes
                notes:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Strain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strain'
        '400':
          description: Missing or invalid name/type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /strains/{id}:
    put:
      tags: [strains]
      summary: Update a strain
      description: Full replacement of mutable strain fields (name, type, genetics, notes). Requires supervisor role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name: { type: string }
                type:
                  type: string
                  enum: [auto, photo]
                genetics: { type: string, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Updated strain with batch_count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strain'
        '400':
          description: Invalid ID or missing/invalid name/type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Strain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [strains]
      summary: Deactivate or delete a strain
      description: >
        Hard-deletes the strain if it has never been used in any batch (safe to remove).
        Soft-deletes (sets active=0) if any batches reference it (preserves referential
        integrity). The `action` field in the response indicates which occurred.

        Requires admin role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Strain deactivated or deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  action:
                    type: string
                    enum: [deactivated, deleted]
                    description: "`deleted` = hard delete (never used); `deactivated` = soft delete (batches reference it)"
        '400':
          description: Invalid (non-numeric) strain ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — admin required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Strain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── CONTAINERS ─────────────────────────────────────────────────────────────

  /containers/summary:
    get:
      tags: [containers]
      summary: State counts per sub-zone (dashboard)
      description: >
        Returns per-sub-zone aggregates of container states. All 8 sub-zones (Z1A–Z4B)
        are included. Sorted by zone_id then designation (A before B). Used by the
        Container Status Dashboard (feature 22).
      responses:
        '200':
          description: Array of sub-zone summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContainerStateSummary'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /containers:
    get:
      tags: [containers]
      summary: List containers for a sub-zone
      description: >
        Returns all containers for the given `sub_zone_id`, joined with current state,
        active batch context (strain, status), and the active METRC plant tag.
        Ordered by row_number then position. `sub_zone_id` is required.
      parameters:
        - name: sub_zone_id
          in: query
          required: true
          schema: { type: string, example: Z1A }
          description: Sub-zone identifier (Z1A–Z4B)
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [ready, active, empty, teardown, startup, out_of_service]
          description: Optional state filter
      responses:
        '200':
          description: Sub-zone metadata + containers array
          content:
            application/json:
              schema:
                type: object
                properties:
                  sub_zone:
                    type: object
                    properties:
                      sub_zone_id: { type: string }
                      pot_size_gal: { type: integer }
                      row_count: { type: integer }
                      container_count: { type: integer }
                  containers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContainerListItem'
        '400':
          description: Missing sub_zone_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sub-zone not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /containers/admin/bulk-set-state:
    post:
      tags: [containers]
      summary: Bulk-set container states (admin)
      description: >
        Sets all containers in a given scope to a target state and logs each transition.
        No-ops (already in target state) are skipped. Returns counts.

        Admin role required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_state, scope]
              properties:
                to_state:
                  type: string
                  enum: [ready, active, empty, teardown, startup, out_of_service]
                scope:
                  type: string
                  enum: [all, zone, sub_zone, row]
                  description: "`all` needs no scope_id; others require scope_id"
                scope_id:
                  type: string
                  nullable: true
                  description: >
                    Zone number (e.g. "1"), sub-zone ID (e.g. "Z1A"), or row ID
                    (e.g. "Z1-A-R3"). Required when scope is not "all".
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Count of changed and scanned containers
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_count: { type: integer }
                  scanned_count: { type: integer }
                  message: { type: string }
        '400':
          description: Invalid to_state, invalid scope, or missing scope_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — admin required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /containers/admin/bulk-reset-ready:
    post:
      tags: [containers]
      summary: Reset all containers to ready (admin, deprecated)
      description: >
        **Deprecated** — use `POST /containers/admin/bulk-set-state` with
        `{ to_state: "ready", scope: "all" }` instead.

        Resets every non-ready container to `ready`. Used only during initial setup.
        Kept for backward compatibility.
      responses:
        '200':
          description: Count of containers reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  reset_count: { type: integer }
                  message: { type: string }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — admin required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /containers/{id}:
    get:
      tags: [containers]
      summary: Get full container detail
      description: >
        Returns the complete container record: base info, current state, current batch,
        active METRC tag, state transition history, amendment history (enriched with
        farmstock item names), teardown events, startup events, and past batches.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, example: "Z1-A-R3-C12" }
          description: Container ID in `Z{zone}-{sub}-R{row}-C{position}` format
      responses:
        '200':
          description: Full container detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerDetail'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Container not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /containers/{id}/state:
    patch:
      tags: [containers]
      summary: Manual container state override (admin)
      description: >
        Sets a container's state directly. Admin-only emergency correction path.
        Clears `current_batch_id` on every manual transition. Logs a `manual` trigger
        in cv_container_state_transitions.

        Constraint: cannot set `active` or `empty` when no `current_batch_id` is
        associated — use the batch assignment workflow instead.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, example: "Z1-A-R3-C12" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_state]
              properties:
                to_state:
                  type: string
                  enum: [ready, active, empty, teardown, startup, out_of_service]
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Raw cv_container_state row after update
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid to_state or active/empty without a current batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — admin required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Container or container state record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /containers/{id}/notes:
    patch:
      tags: [containers]
      summary: Update container notes (supervisor)
      description: >
        Updates both cv_containers.notes and cv_container_state.notes simultaneously.
        Pass `null` to clear. Requires supervisor role.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, example: "Z1-A-R3-C12" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [notes]
              properties:
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Updated notes value
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  notes: { type: string, nullable: true }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — supervisor required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Container not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── FERTIGATION APPLICATIONS ────────────────────────────────────────────────

  /fertigation-applications:
    get:
      tags: [fertigation-applications]
      summary: List fertigation applications
      description: >
        Returns fertigation applications enriched with strain, sub-zone, recipe name,
        version, and applicator name. Default date filter is today (UTC calendar day).
        Each record includes an `editable` flag (true within 24 hours of applied_at).
      parameters:
        - name: batch_id
          in: query
          required: false
          schema: { type: integer }
          description: Filter to a single batch
        - name: date
          in: query
          required: false
          schema:
            type: string
            example: today
          description: >
            `today` (default), a specific `YYYY-MM-DD` date, `7d` (last 7 days), or
            `30d` (last 30 days)
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200':
          description: Array of fertigation applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FertigationApplication'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [fertigation-applications]
      summary: Create fertigation application(s)
      description: >
        Creates one application record per batch in `batch_ids` — supports bulk entry
        for applying the same recipe to multiple sub-zones simultaneously.

        Business rules:
        - Recipe must be active (active=1)
        - All batch_ids must exist and be non-closed
        - EC and pH required (Rule 11); use 0 as placeholder if meter fails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batch_ids, recipe_id, applied_at, volume_gallons, ec_measured, ph_measured]
              properties:
                batch_ids:
                  type: array
                  items: { type: integer }
                  minItems: 1
                  description: One or more batch IDs — one record created per batch
                recipe_id:
                  type: integer
                  description: Active fertigation recipe (active=1)
                applied_at: { type: string, format: date-time }
                volume_gallons: { type: number, description: Total solution volume (gallons) }
                ec_measured: { type: number, description: EC reading (mS/cm). Required; use 0 if meter failed. }
                ph_measured: { type: number, description: pH reading. Required; use 0 if meter failed. }
                solution_temp_f: { type: number, nullable: true }
                ambient_temp_f: { type: number, nullable: true }
                ambient_rh: { type: number, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: Applications created (one per batch_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: array
                    items:
                      type: object
                      properties:
                        application_id: { type: integer }
                        batch_id: { type: integer }
        '400':
          description: Validation error, inactive recipe_id, or batch closed/not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fertigation-applications/{id}:
    patch:
      tags: [fertigation-applications]
      summary: Edit a fertigation application (24h window)
      description: >
        Partial update of measurement fields. Only allowed within 24 hours of
        `applied_at`; after that the record is locked (409). `applied_at` can only
        be shifted within the same calendar day.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                volume_gallons: { type: number }
                ec_measured: { type: number }
                ph_measured: { type: number }
                solution_temp_f: { type: number, nullable: true }
                ambient_temp_f: { type: number, nullable: true }
                ambient_rh: { type: number, nullable: true }
                notes: { type: string, nullable: true }
                applied_at:
                  type: string
                  format: date-time
                  description: Must remain on the same calendar day as original
      responses:
        '200':
          description: Updated application with enriched fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FertigationApplication'
        '400':
          description: Validation error, no valid fields, or applied_at day change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Record locked after 24-hour edit window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [fertigation-applications]
      summary: Delete a fertigation application (admin, 24h window)
      description: >
        Hard-deletes the application. Admin only, within 24 hours of applied_at.

        **Note:** Deletion of compliance records violates business rule 5 (5-year
        retention). This endpoint is scheduled for removal before production — use the
        `corrects_id` pattern instead.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Application deleted
        '400':
          description: Invalid ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — admin required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Record locked after 24-hour window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── FOLIAR APPLICATIONS ─────────────────────────────────────────────────────

  /foliar-applications:
    get:
      tags: [foliar-applications]
      summary: List foliar applications
      description: >
        Returns non-pesticide foliar applications enriched with strain, sub-zone, recipe
        info, and applicator name. Default date filter is today.
      parameters:
        - name: batch_id
          in: query
          required: false
          schema: { type: integer }
        - name: date
          in: query
          required: false
          schema: { type: string, example: today }
          description: "`today` (default), `YYYY-MM-DD`, `7d`, or `30d`"
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200':
          description: Array of foliar applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FoliarApplication'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [foliar-applications]
      summary: Create a foliar application
      description: >
        Records a non-pesticide foliar spray application.

        **Business rules enforced:**
        - `purpose` required (Rule 12)
        - Either `foliar_recipe_id` OR `input_id` must be provided (not both)
        - When `input_id` is provided: `rate_value` and `rate_unit` required
        - **Rule 13 — EPA redirect (422):** If farmstock item has an EPA number, returns
          422 `redirect: "pesticide"` instead of saving
        - **Rule 14 — Stage block (422):** If `input_phi_stage_overrides` blocks the
          product in the current batch stage, returns 422 `stage_blocked: true`
        - **Rule 14 — PHI warning:** `phi_compliant` is computed and stored; if 0, a
          `warning` is returned but the record is saved
        - Blocked when batch status is `harvesting`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batch_id, applied_at, purpose]
              properties:
                batch_id: { type: integer }
                row_id: { type: string, nullable: true, description: "Target row (e.g. Z1-A-R3)" }
                container_id: { type: string, nullable: true, description: "Target container (e.g. Z1-A-R3-C12)" }
                applied_at: { type: string, format: date-time }
                foliar_recipe_id:
                  type: integer
                  nullable: true
                  description: Active foliar recipe. Mutually exclusive with input_id.
                input_id:
                  type: integer
                  nullable: true
                  description: Single farmstock item ID. Mutually exclusive with foliar_recipe_id.
                input_lot_id: { type: integer, nullable: true }
                rate_value:
                  type: number
                  nullable: true
                  description: Required when input_id provided (no recipe)
                rate_unit:
                  type: string
                  nullable: true
                  description: Required when input_id provided
                volume_applied: { type: number, nullable: true }
                volume_unit:
                  type: string
                  nullable: true
                  description: Required when volume_applied is provided
                purpose:
                  type: string
                  description: Why this foliar is being applied (Rule 12 — required)
                ambient_temp_f: { type: number, nullable: true }
                ambient_rh: { type: number, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: Foliar application created. Includes `warning` field if PHI non-compliant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  foliar_id: { type: integer }
                  batch_id: { type: integer }
                  phi_compliant: { type: integer, nullable: true, enum: [0, 1] }
                  stage_compliant: { type: integer, nullable: true, enum: [0, 1] }
                  warning:
                    type: string
                    description: Present only when phi_compliant=0
        '400':
          description: Validation error, missing recipe/product, rate_value required, or batch closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: >
            Hard business rule violation — check response fields for client action.
            `redirect: "pesticide"` — product has EPA number, use pesticide form.
            `stage_blocked: true` — product not permitted in current growth stage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  redirect: { type: string, enum: [pesticide] }
                  stage_blocked: { type: boolean }
                  reason: { type: string, description: Stage block reason from operator config }
                  input_id: { type: integer }

  /foliar-applications/{id}:
    patch:
      tags: [foliar-applications]
      summary: Edit a foliar application (24h window)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                row_id: { type: string, nullable: true }
                container_id: { type: string, nullable: true }
                applied_at: { type: string, format: date-time, description: Same calendar day only }
                rate_value: { type: number, nullable: true }
                rate_unit: { type: string, nullable: true }
                volume_applied: { type: number, nullable: true }
                volume_unit: { type: string, nullable: true }
                purpose: { type: string }
                ambient_temp_f: { type: number, nullable: true }
                ambient_rh: { type: number, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Updated foliar application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoliarApplication'
        '400':
          description: Validation error or applied_at day change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Record locked after 24 hours
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [foliar-applications]
      summary: Delete a foliar application (admin, 24h window)
      description: >
        **Note:** Deletion of compliance records violates business rule 5. Scheduled
        for removal before production.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Application deleted
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient role — admin required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Record locked after 24 hours
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── PESTICIDE APPLICATIONS ──────────────────────────────────────────────────

  /pesticide-applications:
    get:
      tags: [pesticide-applications]
      summary: List pesticide applications
      description: >
        Returns pesticide applications enriched with strain, sub-zone, and applicator
        name. Each record has computed `editable` and `rei_active` flags.

        When `?rei_active=1` the date filter is ignored and only applications with
        unexpired, uncleared REIs are returned (powers the REI Status Dashboard).
      parameters:
        - name: batch_id
          in: query
          required: false
          schema: { type: integer }
        - name: date
          in: query
          required: false
          schema: { type: string, example: today }
          description: "`today` (default), `YYYY-MM-DD`, `7d`, or `30d`. Ignored when rei_active=1."
        - name: rei_active
          in: query
          required: false
          schema: { type: string, enum: ['1'] }
          description: Pass `1` to retrieve all applications with currently active REIs
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200':
          description: Array of pesticide applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PesticideApplication'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [pesticide-applications]
      summary: Create a pesticide application
      description: >
        Records a full MN MDA-compliant pesticide application (MN Statute 18B.37).

        **Business rules enforced (hard blocks unless noted):**
        - Rule 16 — `input_lot_id` required
        - Rule 17 — `target_pest`, `ambient_temp_f`, `wind_speed_mph` required
        - Rule 18 — PHI checked using `phi_days_operational` from farmstock; violation
          requires `phi_override_notes` to proceed (422 otherwise)
        - Rule 19 — Stage block from `input_phi_stage_overrides`; cannot be overridden
        - Rule 20 — `rei_expires_at` computed as `applied_at + rei_hours`
        - Rule 21 — `applicator_license` required for restricted-use products (RUP)
        - **EPA reverse-check:** No EPA number on item → 422 `redirect: "foliar"`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - batch_id
                - applied_at
                - input_id
                - input_lot_id
                - rate_value
                - rate_unit
                - volume_applied
                - volume_unit
                - application_method
                - target_pest
                - ambient_temp_f
                - wind_speed_mph
              properties:
                batch_id: { type: integer }
                row_id: { type: string, nullable: true }
                container_id: { type: string, nullable: true }
                applied_at: { type: string, format: date-time }
                input_id: { type: integer, description: Farmstock item ID — must be EPA-registered }
                input_lot_id: { type: integer, description: Required (Rule 16) — lot tracking is non-negotiable for pesticides }
                rate_value: { type: number }
                rate_unit: { type: string }
                volume_applied: { type: number }
                volume_unit: { type: string }
                application_method:
                  type: string
                  enum: [foliar_spray, soil_drench, granular, other]
                target_pest:
                  type: string
                  description: What is being controlled (Rule 17 — required)
                pest_pressure:
                  type: string
                  nullable: true
                  enum: [incidental, threshold, outbreak]
                ambient_temp_f: { type: number, description: Required (MN Statute 18B.37) }
                ambient_rh: { type: number, nullable: true }
                wind_speed_mph: { type: number, description: Required (MN Statute 18B.37) }
                wind_direction: { type: string, nullable: true }
                expected_harvest_date:
                  type: string
                  format: date
                  nullable: true
                  description: For PHI calculation. Falls back to batch.harvest_date if omitted.
                applicator_license:
                  type: string
                  nullable: true
                  description: Required for restricted-use pesticides (Rule 21)
                phi_override_notes:
                  type: string
                  nullable: true
                  description: Required when applying within the PHI window (Rule 18 override)
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: Pesticide application created. Includes `warning` field if PHI override recorded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pesticide_app_id: { type: integer }
                  batch_id: { type: integer }
                  phi_compliant: { type: integer, nullable: true, enum: [0, 1] }
                  rei_expires_at: { type: string, format: date-time, nullable: true }
                  rei_hours: { type: number, nullable: true }
                  target_area: { type: string, nullable: true, description: container_id or row_id }
                  warning: { type: string, description: Present when phi_compliant=0 and override was recorded }
        '400':
          description: Validation error or batch closed/not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: >
            Hard business rule violation — inspect fields for client action.
            `redirect: "foliar"` — no EPA number; use foliar form.
            `restricted_use: true` — RUP requires applicator_license.
            `phi_violation: true` — within PHI window; provide phi_override_notes.
            `stage_blocked: true` — product blocked in current growth stage; no override.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  redirect: { type: string, enum: [foliar] }
                  restricted_use: { type: boolean }
                  phi_violation: { type: boolean }
                  phi_days_operational: { type: number }
                  days_until_harvest: { type: integer }
                  stage_blocked: { type: boolean }
                  reason: { type: string }
                  input_id: { type: integer }

  /pesticide-applications/{id}/clear-rei:
    post:
      tags: [pesticide-applications]
      summary: Clear REI — sign off area as safe to re-enter
      description: >
        Records `rei_cleared_at` and `rei_cleared_by` on the application. Called after
        the re-entry interval has elapsed and the area has been inspected as safe.
        Returns 409 if already cleared or if no REI exists on this application.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
          description: Pesticide application ID
      responses:
        '200':
          description: REI cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  pesticide_app_id: { type: integer }
                  rei_cleared_at: { type: string, format: date-time }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: REI already cleared, or this application has no REI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pesticide-applications/{id}:
    patch:
      tags: [pesticide-applications]
      summary: Edit a pesticide application (24h window)
      description: >
        Limited field edits within 24 hours. Product, lot, rate, volume, and
        application_method cannot be changed — for those corrections create a new record
        referencing this one via `corrects_id`.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                applied_at: { type: string, format: date-time, description: Same calendar day only }
                target_pest: { type: string }
                pest_pressure: { type: string, nullable: true, enum: [incidental, threshold, outbreak] }
                ambient_temp_f: { type: number }
                ambient_rh: { type: number, nullable: true }
                wind_speed_mph: { type: number }
                wind_direction: { type: string, nullable: true }
                applicator_license: { type: string, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Updated pesticide application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PesticideApplication'
        '400':
          description: Validation error or applied_at day change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Record locked after 24 hours
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [pesticide-applications]
      summary: Delete a pesticide application (admin, 24h window)
      description: >
[...]
